/* Untuk body gunakan warna latar belakang abu-abu gelap dan ukuran font 16 arial sans serif */
body {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

/* Untuk container gunakan warna putih dengan width atau lebar 800px dan margin auto */
.container {
    background-color: #fff;
    color: #333; /* Mengembalikan warna teks di dalam container putih menjadi gelap agar terbaca */
    width: 800px;
    margin: auto;
}

/* Mengatur jarak dalam header padding top 20px, padding right dan left 20px */
.header {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/* Untuk header .judul gunakan ukuran font 40px, tebal, dan margin bawah 5px */
.header .judul {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

/* Mengatur navigasi */
.nav {
    padding: 0px;
    text-align: center; /* Agar menu navigasi berada di tengah */
}

.nav li {
    /* Agar menjadi ke samping tidak ke bawah, gunakan display inline-block dan margin kanan 10px */
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

/* Menghilangkan garis bawah link */
.nav li a {
    text-decoration: none;
    color: navy;
    padding: 5px 10px;
}

/* Ketika navigasi disorot mouse */
.nav li a:hover {
    background-color: lightblue;
    color: white;
}

/* Untuk banner css */
.banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
    /* Atur ukuran gambar */
    background-size: cover;
    /* Mengatur posisi gambar */
    background-position: 0px -300px;
    /* Mengatur garis tepi tebal dan warna merah maroon */
    border-top: 5px solid rgb(73, 31, 31);
    border-bottom: 5px solid rgb(73, 31, 31);
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Untuk isi */
.isi {
    padding: 20px;
}

.isi h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Diperbaiki: Ditambahkan tanda titik (.) karena penulis adalah sebuah class */
.isi .penulis {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.isi .penulis a {
    text-decoration: none;
    color: navy;
}

.isi p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Untuk footer */
.footer {
    background-color: #141211;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer .copyright {
    margin: 0;
    font-size: 14px;
    color: #fff;
}